{% extends 'base.html.twig' %}

{% block title %}List {{ type.plural }}{% endblock %}

{% block actions %}
    <div class="form-group">
        <a href="{{ path('taxonomy_create', {type:type}) }}" class="btn btn-light">
            New {{ type.name }}
        </a>
    </div>

    <div class="form-group">
        <a href="{{ path('taxonomy_create', {type:type}) }}" class="btn btn-light">
            Import {{ type.plural }}
        </a>
    </div>

    <div class="form-group">
        <a href="{{ path('taxonomy_create', {type:type}) }}" class="btn btn-light">
            Export {{ type.plural }}
        </a>
    </div>
{% endblock %}

{% block toolbar %}
    <div class="container-filters">
        <div class="form-group">
            <select class="form-control">
                <option>Filter option</option>
            </select>
        </div>

        <div class="form-group">
            <select class="form-control">
                <option>Filter option</option>
            </select>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>

        <div class="form-group">
            <button class="btn btn-outline-primary">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="container-pagination">
        <div class="form-group"><button type="button" class="btn btn-outline-primary"><i class="fa fa-angle-double-left"></i></button></div>
        <div class="form-group"><button type="button" class="btn btn-outline-primary"><i class="fa fa-angle-left"></i></button></div>
        <div class="form-group"><input type="number" class="form-control w-16" placeholder="Page" value="1"> <label>of 6</label></div>
        <div class="form-group"><button type="button" class="btn btn-outline-primary"><i class="fa fa-angle-right"></i></button></div>
        <div class="form-group"><button type="button" class="btn btn-outline-primary"><i class="fa fa-angle-double-right"></i></button></div>
        <div class="form-group"><input type="number" class="form-control w-16" placeholder="Page" value="10"> <label>per page</label></div>
    </div>
{% endblock %}

{% block body %}

<div class="card">
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>
                <i class="fa fa-sort"></i>
                Title
            </th>
            <th>
                <i class="fa fa-sort"></i>
                Description
            </th>
            <th>
                <i class="fa fa-sort"></i>
                Slug
            </th>
            <th>
                <i class="fa fa-sort"></i>
                Count
            </th>
        </tr>
        </thead>
        <tbody>
        {% for term in taxonomys %}
            <tr>
                <td>
                    <i class="fa fa-image"></i>
                </td>
                <td>
                    <a href="{{ path('taxonomy_view', {'type': term.taxonomy, 'id': term.id}) }}">
                        {% if term.lvl > 0 %}
                            {% for i in range(1, term.lvl) %}
                                &mdash;
                            {% endfor %}
                        {% endif %}
                        {{ term.name }}
                    </a>
                </td>
                <td>{{ term.description }}</td>
                <td>{{ term.slug }}</td>
                <td>-</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
