{% extends 'base.html.twig' %}

{% block title %}New {{ type.title }}{% endblock %}

{% block body %}
<h1>New {{ type.title }}</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Create {{ type.title }}</button>
{{ form_end(form) }}
{% endblock %}
