<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<nav class="navbar">
    <a class="navbar-brand" href="{{ path('dashboard') }}">Phat Koala</a>
</nav>

<div class="wrapper">
    <div class="nav">
        {{ knp_menu_render('main') }}
    </div>
    <div class="main">
        <h1>Dashboard</h1>
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
                    {% if not loop.last %}
                        <li><a href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label }}</a></li>
                    {% else %}
                        <li class="active">{{ breadcrumb_item.label }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>

        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>