<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('bootstrap') }}
        {{ encore_entry_link_tags('tailwind') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<nav class="navbar">
    <a class="navbar-brand" href="{{ path('dashboard') }}">Phat Koala</a>
    <ul class="nav">
        <li class="nav-item">
            <a href="#">
                <i class="fa fa-bell"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#">
                <i class="fa fa-image"></i> Stewart Walter <i class="fa fa-caret-down"></i>
            </a>
        </li>
    </ul>
</nav>

<div class="container-page">
    <div class="container-navigation">
        {{ knp_menu_render('main') }}
    </div>
    <div class="container-main">
        <div class="container-title">
            <h1 class="text-4xl">{{ block('title') }}</h1>
        </div>

        <div class="container-breadcrumbs">
            <ol class="breadcrumb">
                {% for breadcrumb in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
                    {% if not loop.last %}
                        <li class="breadcrumb-item">
                            {% if breadcrumb.item.extra('icon') is not none %}
                                <i class="fa fa-{{ breadcrumb.item.extra('icon') }}"></i>
                            {% endif %}
                            <a href="{{ breadcrumb.uri }}" class="breadcrumb-link">
                                {{ breadcrumb.label }}
                            </a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item active">
                            {% if breadcrumb.item.extra('icon') is not none %}
                                <i class="fa fa-{{ breadcrumb.item.extra('icon') }}"></i>
                            {% endif %}
                            {{ breadcrumb.label }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>

        {% if block('actions') is defined %}
            <div class="container-actions">
                {{ block('actions') }}
            </div>
        {% endif %}

        {% if app.flashes() is not empty %}
            <div class="container-alerts">
                {% for label, messages in app.flashes() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% if block('toolbar') is defined %}
            <div class="container-toolbar">
                {{ block('toolbar') }}
            </div>
        {% endif %}

        <div class="container-content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>