<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<nav class="navbar">
    <a class="navbar-brand" href="{{ path('dashboard') }}">Phat Koala</a>
</nav>

<div id="container">
    <div id="nav">
        {{ knp_menu_render('main') }}
    </div>
    <div id="content">
        <h1>Dashboard</h1>
        <div>Breadcrumbs</div>

        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</div>

</body>
</html>