{% extends 'base.html.twig' %}

{% block title %}New {{ type.name }}{% endblock %}

{% block body %}
<h1>New {{ type.name }}</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Create {{ type.name }}</button>
{{ form_end(form) }}
{% endblock %}
